/.yarn/cache
/node_modules
yarn-error.log*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
packages/**/node_modules
packages/**/tsconfig.tsbuildinfo
packages/**/index.ts.bak
.vscode
.DS_Store
.yalc
yalc.lock
/dist/
.vercel
.continueignore
